.header {
  align-items: center;
  background-color: #000635bd;
  box-sizing: border-box;
  color: white;
  display: flex;
  font-weight: bold;
  padding-left: 20px;
  position: fixed;
  text-align: left;
  height: 50px;
  width: 100%;
}
